<div class="content-wrap"
		layout="column" 
		layout-align-xs="center center"
		layout-align-sm="center start">


	<h2 class="white">{{"component.tools_climbing.title" | translate}}</h2>
	<p>{{"component.tools_climbing.p" | translate}}</p>

	<div class="tools-products" 
		layout="column" layout-gt-xs="row" 
		layout-align="space-between start" layout-wrap>
		
		<div class="tools-product-item">
			<a target="_blank"  href="https://www.amazon.com/gp/product/B000JIL4Z8/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B000JIL4Z8&linkCode=as2&tag=sanjosepintor-20&linkId=dc58cb1616a835702843c80e8abc2376"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B000JIL4Z8&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=sanjosepintor-20" ></a><img src="//ir-na.amazon-adsystem.com/e/ir?t=sanjosepintor-20&l=am2&o=1&a=B000JIL4Z8" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
		</div> <!-- END OF ITEM -->

		<div class="tools-product-item">
			<a target="_blank"  href="https://www.amazon.com/gp/product/B01N5GMW4E/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B01N5GMW4E&linkCode=as2&tag=sanjosepintor-20&linkId=b5eb88f6b9d3dd79b64f2c3338abc570"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B01N5GMW4E&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=sanjosepintor-20" ></a><img src="//ir-na.amazon-adsystem.com/e/ir?t=sanjosepintor-20&l=am2&o=1&a=B01N5GMW4E" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
		</div> <!-- END OF ITEM -->


		<div class="tools-product-item">
			<a target="_blank"  href="https://www.amazon.com/gp/product/B000095SHR/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B000095SHR&linkCode=as2&tag=sanjosepintor-20&linkId=9d005130e6778aefc11d4ce43d957cc2"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B000095SHR&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=sanjosepintor-20" ></a><img src="//ir-na.amazon-adsystem.com/e/ir?t=sanjosepintor-20&l=am2&o=1&a=B000095SHR" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
		</div> <!-- END OF ITEM -->

		<div class="tools-product-item">
			<a target="_blank"  href="https://www.amazon.com/gp/product/B00U830ZNQ/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B00U830ZNQ&linkCode=as2&tag=sanjosepintor-20&linkId=512d962f9f8766e7d24fe55bf6ba3c3e"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B00U830ZNQ&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=sanjosepintor-20" ></a><img src="//ir-na.amazon-adsystem.com/e/ir?t=sanjosepintor-20&l=am2&o=1&a=B00U830ZNQ" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
		</div> <!-- END OF ITEM -->
	</div>
</div>