$blue_500: #2196F3;
$blue_hue: #1565c0;
$pink_500: #E91E63;
$silver:	 #edeeef;
$navy_hue: #16374b;

// @media screen and (max-width: 740px) and (orientation: landscape) {}
// @media screen and (max-width: 1099px) and (min-width: 940px) {}
// @media screen and (max-width: 939px) and (min-width: 640px) {}
// @media screen and (max-width: 639px) {}
// @media screen and (min-width: 640px) {}