@import '../../../assets/styles/sass/variables.scss';

#footer {
	user-select: none;

	.top-bar {
		border-bottom: 1px solid #c9ced1;

		img.logo { height: 45px; cursor: pointer;}

		li { 
			margin-bottom: 0;
			line-height: 0;
			img { 
				padding: 0 0.3em;
				height: 24px; 
			} 
		}
		
	}

	.bottom { 
    margin: 1em 0;
    padding: 0 0.45em;
		display: flex;
		flex-direction: row;
	}

	.extra-meta {
		float: left;
		font-family: Raleway,serif;
		font-style: italic;
		font-size: 14px;
		color: $navy_hue;

		.phone { font-weight: 600; font-size: 18px;}
		.pink { color: $pink_500; }
		.towns:before {
			content: '|';
			position: relative;
			padding: 0 8px 0 5px;
		}
	}

	.column {

		&.large { 
			margin-bottom: 1em;
			margin-top: 0em;
			padding: 0 1em 1em;
			border-bottom: 1px solid $silver;
			cursor: default;
			h5 {margin-bottom: 5px; }
		}

		.footer-col-title {
			font-family: BrownStd,Helvetica,sans-serif;
			font-weight: 700;
			font-size: 14px;
			color: $navy_hue;
			margin-bottom: 1em;
			display: block;
			cursor: default;
		}
		ul {
			margin: 0;
			padding: 0;
		}
		ul li {
			margin-bottom: 5px;
			a { 
				font-size: 13px;
				text-decoration: none;
				color: $navy_hue;
				&:hover { color: $blue_hue; }
			}
		}
	}



	.bottom-bar {
		padding: 0 1em;
		p {
			font-size: 12px;
			color: #9fa4a6;
		}
	}

}

