<div class="content-wrap"
		layout="column" 
		layout-align-xs="center center"
		layout-align-sm="center start">


	<h2 class="white">{{"component.tools_power_washing.title" | translate}}</h2>
	<p>{{"component.tools_power_washing.p" | translate}}</p>

	<div class="tools-products" 
		layout="column" layout-gt-xs="row" 
		layout-align="space-between start" layout-wrap>
		
		<div class="tools-product-item">
			<a target="_blank"  href="https://www.amazon.com/gp/product/B00J9H9OBQ/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B00J9H9OBQ&linkCode=as2&tag=sanjosepintor-20&linkId=32d283bc2c3a60393e3460769b220584"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B00J9H9OBQ&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=sanjosepintor-20" ></a><img src="//ir-na.amazon-adsystem.com/e/ir?t=sanjosepintor-20&l=am2&o=1&a=B00J9H9OBQ" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
		</div> <!-- END OF ITEM -->

		<div class="tools-product-item">
			<a target="_blank"  href="https://www.amazon.com/gp/product/B000BQQ8D6/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B000BQQ8D6&linkCode=as2&tag=sanjosepintor-20&linkId=1c4ace249a99e1cd887754df31505c52"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B000BQQ8D6&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=sanjosepintor-20" ></a><img src="//ir-na.amazon-adsystem.com/e/ir?t=sanjosepintor-20&l=am2&o=1&a=B000BQQ8D6" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
		</div> <!-- END OF ITEM -->
		
		<div class="tools-product-item">
			<a target="_blank"  href="https://www.amazon.com/gp/product/B0012RN1PG/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B0012RN1PG&linkCode=as2&tag=sanjosepintor-20&linkId=ae87cb032acb326f554e67b513276849"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B0012RN1PG&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=sanjosepintor-20" ></a><img src="//ir-na.amazon-adsystem.com/e/ir?t=sanjosepintor-20&l=am2&o=1&a=B0012RN1PG" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
		</div> <!-- END OF ITEM -->

		<div class="tools-product-item">
			<a target="_blank"  href="https://www.amazon.com/gp/product/B0002P19P8/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B0002P19P8&linkCode=as2&tag=sanjosepintor-20&linkId=2e35e9bbd0891ba1a3b7ac7394005056"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B0002P19P8&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=sanjosepintor-20" ></a><img src="//ir-na.amazon-adsystem.com/e/ir?t=sanjosepintor-20&l=am2&o=1&a=B0002P19P8" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
		</div> <!-- END OF ITEM -->
	</div>
</div>