<div class="content-wrap"
		layout="column" 
		layout-align-xs="center center"
		layout-align-sm="center start">


	<h2 class="white">{{"component.tools_basic.title" | translate}}</h2>
	<p>{{"component.tools_basic.p" | translate}}</p>

	<div class="tools-products" 
		layout="column" layout-gt-xs="row" 
		layout-align="space-between start" layout-wrap>
		
		<div class="tools-product-item">
			<a target="_blank"  href="https://www.amazon.com/gp/product/B00173574I/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B00173574I&linkCode=as2&tag=sanjosepintor-20&linkId=4970daf5ef8b1ca69f657130faee4ab5"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B00173574I&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=sanjosepintor-20" ></a><img src="//ir-na.amazon-adsystem.com/e/ir?t=sanjosepintor-20&l=am2&o=1&a=B00173574I" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
		</div> <!-- END OF ITEM -->

		<div class="tools-product-item">
			<a target="_blank"  href="https://www.amazon.com/gp/product/B000BQS5GO/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B000BQS5GO&linkCode=as2&tag=sanjosepintor-20&linkId=28f0668fdb8aa0daf4d76f6f2611d7e3"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B000BQS5GO&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=sanjosepintor-20" ></a><img src="//ir-na.amazon-adsystem.com/e/ir?t=sanjosepintor-20&l=am2&o=1&a=B000BQS5GO" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
		</div> <!-- END OF ITEM -->

		<div class="tools-product-item">
			<a target="_blank"  href="https://www.amazon.com/gp/product/B00KVSP1NW/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B00KVSP1NW&linkCode=as2&tag=sanjosepintor-20&linkId=6fe166c6a9b77f9c779b19b27bf6a718"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B00KVSP1NW&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=sanjosepintor-20" ></a><img src="//ir-na.amazon-adsystem.com/e/ir?t=sanjosepintor-20&l=am2&o=1&a=B00KVSP1NW" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
		</div> <!-- END OF ITEM -->

		<div class="tools-product-item">
			<a target="_blank"  href="https://www.amazon.com/gp/product/B0087J3FIA/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B0087J3FIA&linkCode=as2&tag=sanjosepintor-20&linkId=ae1a2785a6824253a477657b394e1353"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B0087J3FIA&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=sanjosepintor-20" ></a><img src="//ir-na.amazon-adsystem.com/e/ir?t=sanjosepintor-20&l=am2&o=1&a=B0087J3FIA" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
		</div> <!-- END OF ITEM -->

		<div class="tools-product-item">
			<a target="_blank"  href="https://www.amazon.com/gp/product/B00S04LM8M/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B00S04LM8M&linkCode=as2&tag=sanjosepintor-20&linkId=51352d4a31faa17a67bbd4b09213dd08"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B00S04LM8M&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=sanjosepintor-20" ></a><img src="//ir-na.amazon-adsystem.com/e/ir?t=sanjosepintor-20&l=am2&o=1&a=B00S04LM8M" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
		</div> <!-- END OF ITEM -->

		<div class="tools-product-item">
			<a target="_blank"  href="https://www.amazon.com/gp/product/B00002N6IZ/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B00002N6IZ&linkCode=as2&tag=sanjosepintor-20&linkId=dd07908922876632e55a1c9dafed9cf9"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B00002N6IZ&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=sanjosepintor-20" ></a><img src="//ir-na.amazon-adsystem.com/e/ir?t=sanjosepintor-20&l=am2&o=1&a=B00002N6IZ" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
		</div> <!-- END OF ITEM -->

		<div class="tools-product-item">
			<a target="_blank"  href="https://www.amazon.com/gp/product/B000G0IFEW/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B000G0IFEW&linkCode=as2&tag=sanjosepintor-20&linkId=b37d9d258b395ef7c60c2c3bdb799e49"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B000G0IFEW&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=sanjosepintor-20" ></a><img src="//ir-na.amazon-adsystem.com/e/ir?t=sanjosepintor-20&l=am2&o=1&a=B000G0IFEW" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
		</div> <!-- END OF ITEM -->

		<div class="tools-product-item">
			<a target="_blank"  href="https://www.amazon.com/gp/product/B00ATBPC5S/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B00ATBPC5S&linkCode=as2&tag=sanjosepintor-20&linkId=a7242011a988d4e4e5cea46c31c8d70e"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B00ATBPC5S&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=sanjosepintor-20" ></a><img src="//ir-na.amazon-adsystem.com/e/ir?t=sanjosepintor-20&l=am2&o=1&a=B00ATBPC5S" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
		</div> <!-- END OF ITEM -->
		
		<div class="tools-product-item">
			<a target="_blank"  href="https://www.amazon.com/gp/product/B000I1ARUO/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B000I1ARUO&linkCode=as2&tag=sanjosepintor-20&linkId=8e51b9398ab23d8b5caf579602db7376"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B000I1ARUO&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=sanjosepintor-20" ></a><img src="//ir-na.amazon-adsystem.com/e/ir?t=sanjosepintor-20&l=am2&o=1&a=B000I1ARUO" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
		</div> <!-- END OF ITEM -->

		<div class="tools-product-item">
			<a target="_blank"  href="https://www.amazon.com/gp/product/B000DZF47Q/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B000DZF47Q&linkCode=as2&tag=sanjosepintor-20&linkId=7aef1e98b1b1005deb91002cc9c44f58"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B000DZF47Q&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=sanjosepintor-20" ></a><img src="//ir-na.amazon-adsystem.com/e/ir?t=sanjosepintor-20&l=am2&o=1&a=B000DZF47Q" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
		</div> <!-- END OF ITEM -->

		<div class="tools-product-item">
			<a target="_blank"  href="https://www.amazon.com/gp/product/B0019ESMLK/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B0019ESMLK&linkCode=as2&tag=sanjosepintor-20&linkId=567bb119c341d585a4501cd50f5535e2"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B0019ESMLK&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=sanjosepintor-20" ></a><img src="//ir-na.amazon-adsystem.com/e/ir?t=sanjosepintor-20&l=am2&o=1&a=B0019ESMLK" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
		</div> <!-- END OF ITEM -->

		<div class="tools-product-item">
			<a target="_blank"  href="https://www.amazon.com/gp/product/B00B2H7JMC/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B00B2H7JMC&linkCode=as2&tag=sanjosepintor-20&linkId=5790c9f9012a3bcc952ebdc9d7b43a1d"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B00B2H7JMC&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=sanjosepintor-20" ></a><img src="//ir-na.amazon-adsystem.com/e/ir?t=sanjosepintor-20&l=am2&o=1&a=B00B2H7JMC" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
		</div> <!-- END OF ITEM -->

		<div class="tools-product-item">
			<a target="_blank"  href="https://www.amazon.com/gp/product/B00004Z4H4/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B00004Z4H4&linkCode=as2&tag=sanjosepintor-20&linkId=314c3ea09b8da5283544958e2e8e4fb7"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B00004Z4H4&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=sanjosepintor-20" ></a><img src="//ir-na.amazon-adsystem.com/e/ir?t=sanjosepintor-20&l=am2&o=1&a=B00004Z4H4" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
		</div> <!-- END OF ITEM -->

		<div class="tools-product-item">
			<a target="_blank"  href="https://www.amazon.com/gp/product/B00PFBX614/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B00PFBX614&linkCode=as2&tag=sanjosepintor-20&linkId=788125b142862c815fd77d8a9dff4b90"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B00PFBX614&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=sanjosepintor-20" ></a><img src="//ir-na.amazon-adsystem.com/e/ir?t=sanjosepintor-20&l=am2&o=1&a=B00PFBX614" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
		</div> <!-- END OF ITEM -->

		<div class="tools-product-item">
			<a target="_blank"  href="https://www.amazon.com/gp/product/B00004YUPO/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B00004YUPO&linkCode=as2&tag=sanjosepintor-20&linkId=3414a2f2a648181267ab52d887056add"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B00004YUPO&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=sanjosepintor-20" ></a><img src="//ir-na.amazon-adsystem.com/e/ir?t=sanjosepintor-20&l=am2&o=1&a=B00004YUPO" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
		</div> <!-- END OF ITEM -->

		<div class="tools-product-item">
			<a target="_blank"  href="https://www.amazon.com/gp/product/B00NXNE6CO/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B00NXNE6CO&linkCode=as2&tag=sanjosepintor-20&linkId=8c176929ef683e8afda419761644dca2"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B00NXNE6CO&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=sanjosepintor-20" ></a><img src="//ir-na.amazon-adsystem.com/e/ir?t=sanjosepintor-20&l=am2&o=1&a=B00NXNE6CO" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
		</div> <!-- END OF ITEM -->

		<div class="tools-product-item">
			<a target="_blank"  href="https://www.amazon.com/gp/product/B00WJDZBR8/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B00WJDZBR8&linkCode=as2&tag=sanjosepintor-20&linkId=a010c217e5b146013b24e1796d92c4e4"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B00WJDZBR8&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=sanjosepintor-20" ></a><img src="//ir-na.amazon-adsystem.com/e/ir?t=sanjosepintor-20&l=am2&o=1&a=B00WJDZBR8" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
		</div> <!-- END OF ITEM -->
	</div>
</div>