<div class="content-wrap"
		layout="column" 
		layout-align-xs="center center"
		layout-align-sm="center start">


	<h2 class="white">{{"component.tools_safety_floor.title" | translate}}</h2>
	<p>{{"component.tools_safety_floor.p" | translate}}</p>

	<div class="tools-products" 
		layout="column" layout-gt-xs="row" 
		layout-align="space-between start" layout-wrap>
		
		<div class="tools-product-item">
			<a target="_blank"  href="https://www.amazon.com/gp/product/B006OCXT4W/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B006OCXT4W&linkCode=as2&tag=sanjosepintor-20&linkId=5072072f0da9de504eed4913b7102d87"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B006OCXT4W&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=sanjosepintor-20" ></a><img src="//ir-na.amazon-adsystem.com/e/ir?t=sanjosepintor-20&l=am2&o=1&a=B006OCXT4W" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
		</div> <!-- END OF ITEM -->

		<div class="tools-product-item">
			<a target="_blank"  href="https://www.amazon.com/gp/product/B071XJQJ24/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B071XJQJ24&linkCode=as2&tag=sanjosepintor-20&linkId=803e7eb6da0b85cfd3fa491dda0e689f"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B071XJQJ24&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=sanjosepintor-20" ></a><img src="//ir-na.amazon-adsystem.com/e/ir?t=sanjosepintor-20&l=am2&o=1&a=B071XJQJ24" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
		</div> <!-- END OF ITEM -->
	</div>
</div>