<div class="head-text" flex-xs="grow">
	<h3>{{"component.exterior_steps.title" | translate}}</h3>
	<p>{{"component.exterior_steps.p_1" | translate}}</p>
	<p>{{"component.exterior_steps.p_2" | translate}}</p>
	<p>{{"component.exterior_steps.p_3" | translate}}</p>
	<p>{{"component.exterior_steps.p_4" | translate}}</p>
	<p>{{"component.exterior_steps.p_5" | translate}}</p>
	<p>{{"component.exterior_steps.p_6" | translate}}</p>
</div>

<div class="steps" 
	layout="row" layout-xs="column"
	layout-align-xs="center center"
	layout-align-gt-xs="space-between start"
	layout-wrap>
	<div class="step" layout="row">
		<img hide-xs class="svg" src="/assets/images/surface-wash.svg">
		<div class="text">
			<h4>{{"component.exterior_steps.wash.title" | translate}}</h4>
			<p>{{"component.exterior_steps.wash.p" | translate}}</p>
		</div>
	</div> <!-- End of Step -->

	<div class="step" layout="row">
		<img hide-xs class="svg" src="/assets/images/design-tool.svg">
		<div class="text">
			<h4>{{"component.exterior_steps.preparation.title" | translate}}</h4>
			<p>{{"component.exterior_steps.preparation.p" | translate}}</p>
		</div>
	</div> <!-- End of Step -->

	<div class="step" layout="row">
		<img hide-xs class="svg" src="/assets/images/paint-roller_6.svg">
		<div class="text">
			<h4>{{"component.exterior_steps.paint.title" | translate}}</h4>
			<p>{{"component.exterior_steps.paint.p" | translate}}</p>
		</div>
	</div> <!-- End of Step -->

	<div class="step" layout="row">
		<img hide-xs class="svg" src="/assets/images/broom.svg">
		<div class="text">
			<h4>{{"component.exterior_steps.cleanup.title" | translate}}</h4>
			<p>{{"component.exterior_steps.cleanup.p" | translate}}</p>
		</div>
	</div> <!-- End of Step -->

	<div class="step" layout="row">
		<img hide-xs class="svg" src="/assets/images/eye.svg">
		<div class="text">
			<h4>{{"component.exterior_steps.inspection.title" | translate}}</h4>
			<p>{{"component.exterior_steps.inspection.p" | translate}}</p>
		</div>
	</div> <!-- End of Step -->
</div> <!-- End of Steps -->