<div class="content-wrap"
		layout="column" layout-md="row"
		layout-align-xs="center center"
		layout-align-sm="center start"
		layout-align-md="center end">

	<div class="left-side" layout="column" layout-align="center start" flex="auto">
		<h2 class="white">{{"component.residential_details.title" | translate}}</h2>
		<p>{{"component.residential_details.p" | translate}}</p>
	</div>

	<div class="right-side" layout="row" layout-align="space-between start" layout-wrap>
		<div class="add-item">
			<img class="svg" src="/assets/images/window.svg">
			<div class="meta" hide-xs>
				<span class="add-on">{{"component.residential_details.detail.windows" | translate}}</span>
				<!-- <span class="price">$60</span> -->
			</div>
		</div> <!-- END OF ITEM -->

		<div class="add-item">
			<img class="svg" src="/assets/images/trim.svg">
			<div class="meta" hide-xs>
				<span class="add-on">{{"component.residential_details.detail.trims" | translate}}</span>
				<!-- <span class="price">$60</span> -->
			</div>
		</div> <!-- END OF ITEM -->

		<div class="add-item">
			<img class="svg" src="/assets/images/door.svg">
			<div class="meta" hide-xs>
				<span class="add-on">{{"component.residential_details.detail.doors" | translate}}</span>
				<!-- <span class="price">$60</span> -->
			</div>
		</div> <!-- END OF ITEM -->

		<div class="add-item">
			<img class="svg" src="/assets/images/time.svg">
			<div class="meta" hide-xs>
				<span class="add-on">{{"component.residential_details.detail.extra" | translate}}</span>
				<!-- <span class="price">++</span> -->
			</div>
		</div> <!-- END OF ITEM -->
	</div>
</div>