<div class="content-wrap"
		layout="column" 
		layout-align-xs="center center"
		layout-align-sm="center start">


	<h2 class="white">{{"component.tools_masking.title" | translate}}</h2>
	<p>{{"component.tools_masking.p" | translate}}</p>

	<div class="tools-products" 
		layout="column" layout-gt-xs="row" 
		layout-align="space-between start" layout-wrap>
		
		<div class="tools-product-item">
			<a target="_blank"  href="https://www.amazon.com/gp/product/B00O5W8MTA/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B00O5W8MTA&linkCode=as2&tag=sanjosepintor-20&linkId=a96d6a999779d3fde0cc11d688ca71f6"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B00O5W8MTA&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=sanjosepintor-20" ></a><img src="//ir-na.amazon-adsystem.com/e/ir?t=sanjosepintor-20&l=am2&o=1&a=B00O5W8MTA" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
		</div> <!-- END OF ITEM -->

		<div class="tools-product-item">
			<a target="_blank"  href="https://www.amazon.com/gp/product/B003WLSYGQ/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B003WLSYGQ&linkCode=as2&tag=sanjosepintor-20&linkId=764ce701ebc0daf97b322202e4446dac"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B003WLSYGQ&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=sanjosepintor-20" ></a><img src="//ir-na.amazon-adsystem.com/e/ir?t=sanjosepintor-20&l=am2&o=1&a=B003WLSYGQ" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
		</div> <!-- END OF ITEM -->

		<div class="tools-product-item">
			<a target="_blank"  href="https://www.amazon.com/gp/product/B004Y6WM1Q/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B004Y6WM1Q&linkCode=as2&tag=sanjosepintor-20&linkId=3e5fd4bee880d16ed977b0cf427e1343"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B004Y6WM1Q&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=sanjosepintor-20" ></a><img src="//ir-na.amazon-adsystem.com/e/ir?t=sanjosepintor-20&l=am2&o=1&a=B004Y6WM1Q" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
		</div> <!-- END OF ITEM -->

		<div class="tools-product-item">
			<a target="_blank"  href="https://www.amazon.com/gp/product/B008WZZ1LI/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B008WZZ1LI&linkCode=as2&tag=sanjosepintor-20&linkId=225e00dc8889beb9835c8ad58aa444c1"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B008WZZ1LI&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=sanjosepintor-20" ></a><img src="//ir-na.amazon-adsystem.com/e/ir?t=sanjosepintor-20&l=am2&o=1&a=B008WZZ1LI" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
		</div> <!-- END OF ITEM -->

		<div class="tools-product-item">
			<a target="_blank"  href="https://www.amazon.com/gp/product/B00004Z49B/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B00004Z49B&linkCode=as2&tag=sanjosepintor-20&linkId=971502cb97803a4e0e1a085cec6f359d"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B00004Z49B&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=sanjosepintor-20" ></a><img src="//ir-na.amazon-adsystem.com/e/ir?t=sanjosepintor-20&l=am2&o=1&a=B00004Z49B" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
		</div> <!-- END OF ITEM -->

		<div class="tools-product-item">
			<a target="_blank"  href="https://www.amazon.com/gp/product/B003C2RKXS/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B003C2RKXS&linkCode=as2&tag=sanjosepintor-20&linkId=c54e29037ab1a7e258876a8ec4631787"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B003C2RKXS&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=sanjosepintor-20" ></a><img src="//ir-na.amazon-adsystem.com/e/ir?t=sanjosepintor-20&l=am2&o=1&a=B003C2RKXS" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
		</div> <!-- END OF ITEM -->

		<div class="tools-product-item">
			<a target="_blank"  href="https://www.amazon.com/gp/product/B01FUZAA86/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B01FUZAA86&linkCode=as2&tag=sanjosepintor-20&linkId=b9e3b2a9818408b529070597c99d4013"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B01FUZAA86&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=sanjosepintor-20" ></a><img src="//ir-na.amazon-adsystem.com/e/ir?t=sanjosepintor-20&l=am2&o=1&a=B01FUZAA86" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
		</div> <!-- END OF ITEM -->

		<div class="tools-product-item">
			<a target="_blank"  href="https://www.amazon.com/gp/product/B00KLJSKBQ/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B00KLJSKBQ&linkCode=as2&tag=sanjosepintor-20&linkId=9625f52b27a354e5c9cff776b5863bd2"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B00KLJSKBQ&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=sanjosepintor-20" ></a><img src="//ir-na.amazon-adsystem.com/e/ir?t=sanjosepintor-20&l=am2&o=1&a=B00KLJSKBQ" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
		</div> <!-- END OF ITEM -->

		<div class="tools-product-item">
			<a target="_blank"  href="https://www.amazon.com/gp/product/B0002YQ7HO/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B0002YQ7HO&linkCode=as2&tag=sanjosepintor-20&linkId=6694d8ef1af7f952da2a655c084fcdf9"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B0002YQ7HO&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=sanjosepintor-20" ></a><img src="//ir-na.amazon-adsystem.com/e/ir?t=sanjosepintor-20&l=am2&o=1&a=B0002YQ7HO" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
		</div> <!-- END OF ITEM -->

		<div class="tools-product-item">
			<a target="_blank"  href="https://www.amazon.com/gp/product/B001ARFIQ8/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B001ARFIQ8&linkCode=as2&tag=sanjosepintor-20&linkId=bd07cd09ea296f8de0a350af27b69bec"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B001ARFIQ8&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=sanjosepintor-20" ></a><img src="//ir-na.amazon-adsystem.com/e/ir?t=sanjosepintor-20&l=am2&o=1&a=B001ARFIQ8" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
		</div> <!-- END OF ITEM -->

		<div class="tools-product-item">
			<a target="_blank"  href="https://www.amazon.com/gp/product/B017MEAGC8/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B017MEAGC8&linkCode=as2&tag=sanjosepintor-20&linkId=b61df35fb474297a18044c298f2827b8"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B017MEAGC8&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=sanjosepintor-20" ></a><img src="//ir-na.amazon-adsystem.com/e/ir?t=sanjosepintor-20&l=am2&o=1&a=B017MEAGC8" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
		</div> <!-- END OF ITEM -->
	</div>
</div>