<h3 flex-xs="grow">{{"component.steps.title" | translate}}</h3>
<div class="steps" layout="row" layout-xs="column">
	<div class="step" layout="column" layout-xs="row">
		<img class="svg" src="/assets/images/pantone_2.svg">
		<div class="text">
			<h4>{{"component.steps.estimate.title" | translate}}</h4>
			<p>{{"component.steps.estimate.p" | translate}}</p>
		</div>
	</div> <!-- End of Step -->

	<div class="step" layout="column" layout-xs="row">
		<img class="svg" src="/assets/images/design-tool.svg">
		<div class="text">
			<h4>{{"component.steps.preparation.title" | translate}}</h4>
			<p>{{"component.steps.preparation.p" | translate}}</p>
		</div>
	</div> <!-- End of Step -->

	<div class="step" layout="column" layout-xs="row">
		<img class="svg" src="/assets/images/paint-roller_6.svg">
		<div class="text">
			<h4>{{"component.steps.job.title" | translate}}</h4>
			<p>{{"component.steps.job.p" | translate}}</p>
		</div>
	</div> <!-- End of Step -->

	<div class="step" layout="column" layout-xs="row">
		<img class="svg" src="/assets/images/broom.svg">
		<div class="text">
			<h4>{{"component.steps.cleanup.title" | translate}}</h4>
			<p>{{"component.steps.cleanup.p" | translate}}</p>
		</div>
	</div> <!-- End of Step -->
</div> <!-- End of Steps -->