<div class="content-wrap">
	<h2 class="white">{{"component.our_offer.title" | translate}}</h2>
	<div class="offer-list">
		<ul layout="row" layout-wrap layout-align="space-around start">
			<li>{{"component.our_offer.offer_1" | translate}}</li>
			<li>{{"component.our_offer.offer_2" | translate}}</li>
			<li>{{"component.our_offer.offer_3" | translate}}</li>
			<li>{{"component.our_offer.offer_4" | translate}}</li>
			<li>{{"component.our_offer.offer_5" | translate}}</li>
			<li>{{"component.our_offer.offer_6" | translate}}</li>
			<li>{{"component.our_offer.offer_7" | translate}}</li>
			<li>{{"component.our_offer.offer_8" | translate}}</li>
			<li>{{"component.our_offer.offer_9" | translate}}</li>
			<li>{{"component.our_offer.offer_10" | translate}}</li>
			<li>{{"component.our_offer.offer_11" | translate}}</li>
			<li>{{"component.our_offer.offer_12" | translate}}</li>
		</ul>
	</div>
	<!--<div class="action-bar" layout layout-align="center center">
		<md-button class="md-raised input-submit md-primary" flex-xs="grow" ui-sref="faq">Questions</md-button>
	</div>  End of Action-Bar -->
</div>