<div class="content-wrap">
	<h2 class="white">{{"component.commercial_details.interior.title" | translate}}</h2>
	<div class="offer-list">
		<ul layout="row" layout-wrap class="styled"
			layout-align-xs="center center"
			layout-align-sm="space-between start"
			layout-align-gt-sm="end start">
			<li>{{"component.commercial_details.interior.point_1" | translate}}</li>
			<li>{{"component.commercial_details.interior.point_2" | translate}}</li>
			<li>{{"component.commercial_details.interior.point_3" | translate}}</li>
			<li>{{"component.commercial_details.interior.point_4" | translate}}</li>
			<li>{{"component.commercial_details.interior.point_5" | translate}}</li>
			<li>{{"component.commercial_details.interior.point_6" | translate}}</li>
			<li>{{"component.commercial_details.interior.point_7" | translate}}</li>
			<li>{{"component.commercial_details.interior.point_8" | translate}}</li>
			<li>{{"component.commercial_details.interior.point_9" | translate}}</li>
			<li>{{"component.commercial_details.interior.point_10" | translate}}</li>
			<li>{{"component.commercial_details.interior.point_11" | translate}}</li>
		</ul>
	</div>

	<!-- DIV -->

	<h2 class="white">{{"component.commercial_details.exterior.title" | translate}}</h2>
	<div class="offer-list">
		<ul layout="row" layout-wrap class="styled"
			layout-align-xs="center center"
			layout-align-sm="space-between start"
			layout-align-gt-sm="end start">
			<li>{{"component.commercial_details.exterior.point_1" | translate}}</li>
			<li>{{"component.commercial_details.exterior.point_2" | translate}}</li>
			<li>{{"component.commercial_details.exterior.point_3" | translate}}</li>
			<li>{{"component.commercial_details.exterior.point_4" | translate}}</li>
			<li>{{"component.commercial_details.exterior.point_5" | translate}}</li>
			<li>{{"component.commercial_details.exterior.point_6" | translate}}</li>
			<li>{{"component.commercial_details.exterior.point_7" | translate}}</li>
			<li>{{"component.commercial_details.exterior.point_8" | translate}}</li>
			<li>{{"component.commercial_details.exterior.point_9" | translate}}</li>
			<li>{{"component.commercial_details.exterior.point_10" | translate}}</li>
			<li>{{"component.commercial_details.exterior.point_11" | translate}}</li>
			<li>{{"component.commercial_details.exterior.point_12" | translate}}</li>
			<li>{{"component.commercial_details.exterior.point_13" | translate}}</li>
		</ul>
	</div>

	<!--<md-button class="md-raised input-submit md-primary" flex-xs="grow" ui-sref="faq">Questions</md-button>  End of Action-Bar -->
</div>