<div class="content-wrap"
		layout="column" 
		layout-align-xs="center center"
		layout-align-sm="center start">


	<h2 class="white">{{"component.tools_safety_personal.title" | translate}}</h2>
	<p>{{"component.tools_safety_personal.p" | translate}}</p>

	<div class="tools-products" 
		layout="column" layout-gt-xs="row" 
		layout-align="space-between start" layout-wrap>

		<div class="tools-product-item">
			<a target="_blank"  href="https://www.amazon.com/gp/product/B00AEXKR4C/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B00AEXKR4C&linkCode=as2&tag=sanjosepintor-20&linkId=d6f015d8e2762313eb2ede321ebc83c3"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B00AEXKR4C&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=sanjosepintor-20" ></a><img src="//ir-na.amazon-adsystem.com/e/ir?t=sanjosepintor-20&l=am2&o=1&a=B00AEXKR4C" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
		</div> <!-- END OF ITEM -->

		<div class="tools-product-item">
			<a target="_blank"  href="https://www.amazon.com/gp/product/B00OZZZ7JU/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B00OZZZ7JU&linkCode=as2&tag=sanjosepintor-20&linkId=e4139551158eefa5822832b4a4be89ac"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B00OZZZ7JU&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=sanjosepintor-20" ></a><img src="//ir-na.amazon-adsystem.com/e/ir?t=sanjosepintor-20&l=am2&o=1&a=B00OZZZ7JU" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
		</div> <!-- END OF ITEM -->

		<div class="tools-product-item">
			<a target="_blank"  href="https://www.amazon.com/gp/product/B00S0RKSIO/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B00S0RKSIO&linkCode=as2&tag=sanjosepintor-20&linkId=fe5b9e67a0a0451bd6def4eccd120635"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B00S0RKSIO&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=sanjosepintor-20" ></a><img src="//ir-na.amazon-adsystem.com/e/ir?t=sanjosepintor-20&l=am2&o=1&a=B00S0RKSIO" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
		</div> <!-- END OF ITEM -->

		<div class="tools-product-item">
			<a target="_blank"  href="https://www.amazon.com/gp/product/B0017YGE8A/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B0017YGE8A&linkCode=as2&tag=sanjosepintor-20&linkId=ec366cfd037656d9a8229d6790e05234"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B0017YGE8A&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=sanjosepintor-20" ></a><img src="//ir-na.amazon-adsystem.com/e/ir?t=sanjosepintor-20&l=am2&o=1&a=B0017YGE8A" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
		</div> <!-- END OF ITEM -->

		<div class="tools-product-item">
			<a target="_blank"  href="https://www.amazon.com/gp/product/B000BQ5R92/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B000BQ5R92&linkCode=as2&tag=sanjosepintor-20&linkId=fd577fd035fbac6178a100247892c008"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B000BQ5R92&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=sanjosepintor-20" ></a><img src="//ir-na.amazon-adsystem.com/e/ir?t=sanjosepintor-20&l=am2&o=1&a=B000BQ5R92" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
		</div> <!-- END OF ITEM -->

		<div class="tools-product-item">
			<a target="_blank"  href="https://www.amazon.com/gp/product/B00864W92O/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B00864W92O&linkCode=as2&tag=sanjosepintor-20&linkId=69a97dbafe5699150e64b8d0de618541"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B00864W92O&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=sanjosepintor-20" ></a><img src="//ir-na.amazon-adsystem.com/e/ir?t=sanjosepintor-20&l=am2&o=1&a=B00864W92O" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
		</div> <!-- END OF ITEM -->

		<div class="tools-product-item">
			<a target="_blank"  href="https://www.amazon.com/gp/product/B0010ORKEO/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B0010ORKEO&linkCode=as2&tag=sanjosepintor-20&linkId=1b899065081a417ff3aa2756669201be"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B0010ORKEO&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=sanjosepintor-20" ></a><img src="//ir-na.amazon-adsystem.com/e/ir?t=sanjosepintor-20&l=am2&o=1&a=B0010ORKEO" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
		</div> <!-- END OF ITEM -->
	</div>
</div>