<div class="content-wrap"
		layout="column" 
		layout-align-xs="center center"
		layout-align-sm="center start">


	<h2 class="white">{{"component.tools_power_accessories.title" | translate}}</h2>
	<p>{{"component.tools_power_accessories.p" | translate}}</p>

	<div class="tools-products" 
		layout="column" layout-gt-xs="row" 
		layout-align="space-between start" layout-wrap>
		
		<div class="tools-product-item">
			<a target="_blank"  href="https://www.amazon.com/gp/product/B0021XJ1KO/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B0021XJ1KO&linkCode=as2&tag=sanjosepintor-20&linkId=a157498115be738f5f724aa214f1bb03"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B0021XJ1KO&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=sanjosepintor-20" ></a><img src="//ir-na.amazon-adsystem.com/e/ir?t=sanjosepintor-20&l=am2&o=1&a=B0021XJ1KO" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
		</div> <!-- END OF ITEM -->

		<div class="tools-product-item">
			<a target="_blank"  href="https://www.amazon.com/gp/product/B00NYXY9W0/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B00NYXY9W0&linkCode=as2&tag=sanjosepintor-20&linkId=e277cf0b76bf6ba16fc57aede89d348d"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B00NYXY9W0&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=sanjosepintor-20" ></a><img src="//ir-na.amazon-adsystem.com/e/ir?t=sanjosepintor-20&l=am2&o=1&a=B00NYXY9W0" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
		</div> <!-- END OF ITEM -->

		<div class="tools-product-item">
			<a target="_blank"  href="https://www.amazon.com/gp/product/B0021XZQ0S/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B0021XZQ0S&linkCode=as2&tag=sanjosepintor-20&linkId=38e9f99417ae21c2d2f2f61b99072117"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B0021XZQ0S&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=sanjosepintor-20" ></a><img src="//ir-na.amazon-adsystem.com/e/ir?t=sanjosepintor-20&l=am2&o=1&a=B0021XZQ0S" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
		</div> <!-- END OF ITEM -->
	</div>
</div>