<!DOCTYPE html>
<html>
  <head>
    <title>San Jose Pintor | Costa Rica</title>
    <meta charset="utf-8">
    <meta name="author" content="">
    <meta name="description" content="Empresa de servicios comerciales y residenciales de servicio completo. Pintura Premium, trabajo garantizado, resultados duraderos. Llame hoy para una estimación gratuita">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
    <base href="/">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <!-- LINKING STYLE SHEETS -->
    <% for(var i=0; i < htmlWebpackPlugin.files.css; i++) { %>
    <link href="<%= htmlWebpackPlugin.files.css[i] %>" rel="stylesheet">
    <% } %>
      <!-- LINKING JS FILES -->
    <% for(var i=0; i < htmlWebpackPlugin.files.chunks; i++) { %>
    <script src="<%= htmlWebpackPlugin.files.chunks[i].entry %>" async></script>
    <% } %>
    <script src="https://maps.google.com/maps/api/js?key=AIzaSyAac1Imd-1baoR-vDXLQB7yru6n01S0Wcc" defer></script>

    <!-- <link rel="preload" href="/assets/styles/css/app.-------------.css" rel="stylesheet" as="style" onload="this.rel='stylesheet'">

    <noscript><link href="/assets/styles/css/app.-------------.css" rel="stylesheet"></noscript> -->

  </head>
  <body>
    <!--[if lt IE 10]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <main ui-view layout="column"></main>

    <footer id="footer" class="footer content-wrapper"
      layout="column"></footer>


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID.
    ga('send','pageview'); -->
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='https://www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create', 'UA-80352735-1', 'auto');
    </script>
  </body>
</html>
